// To customize your local configuration, copy this file to config.local.js and set values as desired.
const localAppConfig = {
  backend_host: "http://localhost:4001"
};
module.exports = localAppConfig;