#hexmap svg {
  border: 1px solid black;
  padding: 10px;
  background-image: url("https://2.bp.blogspot.com/-tMzN7-Z8m3Q/UKd4-RcchtI/AAAAAAAABEo/5I0VNmnX9Q0/s1600/fantasy_7bdc2a22.jpg");
  background-repeat: no-repeat;
}
#hexmap .hex {
  stroke: whitesmoke;
  z-index: 0;
}
#hexmap .hex:hover {
  cursor: pointer;
}
.hexlabel {
  stroke: black;
  z-index: 10;
}
