#hexmap {
  overflow: scroll;
  height: 800px;
  margin-bottom: 3em;
}
#hexmap svg {
  border: 1px solid black;
  padding: 10px;
}
#hexmap .hex {
  stroke: whitesmoke;
  z-index: 0;
}
#hexmap .hex:hover {
  cursor: pointer;
}
#hexmap .hex.undef:hover {
  cursor: not-allowed;
}
.hexlabel {
  stroke: black;
  z-index: 10;
}
